body,
button,
text {
  margin-top: 80px;
  font-family: 'Inter', sans-serif;
}

#writing {
  max-width: 800px;
  margin: 20px auto;
  line-height: 1.6;
  font-weight: 200;
}

h1,
h2,
h3 {
  font-weight: 300
}

name {
  font-size: 0.9em;
  font-weight: 100;
}

.citations {
  font-size: 0.7em;
  font-weight: 100;
}

.citations p {
  margin: 0 0 0.75em 0;
  text-indent: -2em;
  line-height: 1.5;
  padding-left: 2em;

}

a {
  text-decoration: underline;
  color: black;
}

#scroll-progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  width: 0;
  background: rgba(122, 220, 180);
  z-index: 9999;
}

.metric-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .metric-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.metric-item {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 0px;
}

.metric-item p {
  font-size: 0.85em;
  margin: 0;
  padding: 10px;
  line-height: 1.4;
}

.sidebar {
  position: fixed;
  top: 200px;
  left: 20px;
  width: 210px;
  padding: 20px;
  border-radius: 16px;
  padding-left: 20px;
  box-shadow: 0 0 3px rgba(122, 220, 180);
  border: 1px solid #e0e0e0;
  font-size: 15px;
  line-height: 1.4;
}

.sidebar a {
  position: relative;
  padding-right: 16px;
  text-decoration: none;
  color: black;
  display: inline-block;
}

.sidebar a::after {
  content: "›";
  color: rgba(122, 220, 180);
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

.sidebar a:hover::after {
  opacity: 1;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: black;
  font-weight: 100;
}

@media (max-width: 900px) {
  .sidebar {
    display: none;
  }
}

.metric-box {
  background: #edf5f2;
  padding: 5px 5px 5px 5px;
  margin: 20px auto;
  border-radius: 7px;
  width: 100%;
  max-width: 750px;
}

.metric-box h2 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 10px;
}

.metric-buttons {
  display: flex;
  gap: 10px 10px;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.m-button {
  background: #d4e8e3;
  padding: 17px 20px;
  border-radius: 20px;
  font-size: 0.90rem;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

.m-button::after {
  content: attr(data-hover);
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  color: black;
}

.m-button:hover {
  color: transparent;
}

.m-button:hover::after {
  opacity: 1;
  font-size: 0.7rem;
}

.sim-panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 900px;
  margin: 10px auto;
}

.panel {
  background: #ffffff;
  padding: 10px;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #e4e4e4;
  line-height: 1.6;
}

.panel-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.panel-icon {
  width: 40px;
  height: 40px;
}

.panel p {
  font-size: 0.9em;
}

.bar {
  border-left: 4px solid #d4e8e3;
  padding-left: 20px;
  display: block;
}